<div class="list-box">
  <input
    type="text"
    placeholder="Search Pokémon..."
    [(ngModel)]="search"
    (ngModelChange)="onSearchChange($event)"
    class="search-input"
  />

  <div class="list-scroll">
    <div
      *ngFor="let pokemon of filteredPokemon"
      (click)="onPokemonClick(pokemon.name)"
      class="pokemon-item"
    >
      {{ pokemon.name }}
    </div>

    <div *ngIf="loading" class="loading">Loading...</div>
    <div *ngIf="!loading && filteredPokemon.length === 0" class="no-results">No Pokémon found.</div>
  </div>
</div>
