<div *ngIf="pokemonDetail; else loadingOrError">
  <h2>{{ pokemonDetail.name }}</h2>
  <img 
    [src]="pokemonDetail.sprites.front_default" 
    [alt]="pokemonDetail.name" />
  
  <app-pokemon-stats-graph
    [stats]="pokemonDetail.stats"
    [pokemonName]="pokemonDetail.name">
  </app-pokemon-stats-graph>
</div>

<div class="types-container" *ngIf="pokemonDetail?.types">
  <app-pokemon-types [types]="pokemonDetail.types"></app-pokemon-types>
</div>

<div *ngIf="pokemonDetail?.abilities">
  <app-pokemon-abilities [abilities]="pokemonDetail.abilities"></app-pokemon-abilities>
</div>

<app-pokemon-species 
  *ngIf="pokemonDetail?.name"
  [name]="pokemonDetail.name">
</app-pokemon-species>

<div>
  <ng-template #loadingOrError>
    <p *ngIf="pokemonName && !pokemonDetail">Loading...</p>
  </ng-template>
</div>